MONGO_URL="mongodb://localhost:27017"
DB_NAME="test_database"
CORS_ORIGINS="*"
TELEGRAM_BOT_TOKEN="8379847326:AAGs2cWMq5nNKf9ifnIttb2s933CxOSC6iw"
TELEGRAM_CHAT_ID="93372553"
ALERT_PHONE_NUMBER="9167937612"